extends layout

block content

  main

    h1 Accounts

    .actions

      a.button(href="/new-account") New account

    .accounts

      each account in accounts

        .account

          a(href="/accounts/#{account.name}")= account.name

          .number= account.number
          .sortCode= account.sortCode
