extends layout

block content

  main

    h1 Tags

    .actions

      a.button(href="/new-tag") New tag

    .tags

      each tag in tags

        .tag

          a(href="/tags/#{tag.name}")= tag.name

          each term in tag.Terms

            li= term.term
