html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
input,
textarea{
	font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body{
  margin: 0;
}

input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: Helvetica, Arial, sans-serif;
     overflow: hidden;
     padding: 10px;
     -webkit-padding-start: 0px 10px;
     line-height: 24px;
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 0px 0;
    white-space: pre;
}

input,
textarea{
    padding: 10px;
    border: 1px solid #999;
    line-height: 24px;
}

a,a:visited{
  color: #187;
}

.main-header{
    position: fixed;
    top: 0;
    padding: 20px 0;
    background: #fff;
    width: 100%;
    z-index: 100;
}

.main-nav{
    max-width: 900px;
    margin: auto;
    padding: 0 40px;
}

.main-nav a{
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
}

main{
    max-width: 900px;
    margin: auto;
    padding-top: 140px;
    padding: 140px 40px 0 40px;
}

.search-form{
    position: fixed;
    top: 0;
    padding: 60px 0 20px 0;
    background: #fff;
    width: 100%;
}

.search-form label{
	display: inline-block;
	width: 220px;
}

.search-form label span{
	display: inline-block;
	margin-bottom: 10px;
}

.search-form input{
	display: inline-block;
	margin-right: 1em;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    margin: 0.8em 0;
}
span{
    display: inline-block;
    width: 100px;
    margin: 0 2em 0 0;
}

.title{
    width: 200px;
}
.paid-in,
.paid-out{
    width: 80px;
    text-align: right;
}

.row{
    margin: 1em 0;
}
label.inline{
    display: inline-block;
    width: 180px;
    vertical-align: top;
    padding: 1em 0;
}

.actions{
  margin: 2em 0;
}

a.button,
.button{
    display: inline-block;
    background: #148;
    color: #fff;
    padding: 0.9em 1.2em;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    text-decoration: none;
}
textarea.large{
    width: 300px;
    height: 200px;
}